#form{
    width: 500px;
    color: #0000;
    background-image: url(https://www.libertytravel.com/sites/default/files/styles/full_size/public/netherlands_cruise_hero.jpg?itok=FeYf4qo2);
}

#root{

    background-image: url(https://img1.goodfon.com/wallpaper/nbig/8/1d/niderlandy-noch-nebo-zvezdy.jpg);
     background-repeat:  no-repeat;
     background-size:  cover;
}
