#form{
    width: 500px;
    color: #0000;
    background-image: url(https://www.libertytravel.com/sites/default/files/styles/full_size/public/netherlands_cruise_hero.jpg?itok=FeYf4qo2);
}

#root{

background-image: url(http://images6.fanpop.com/image/photos/40000000/Windmill-the-netherlands-40085173-1920-1080.jpg);
background-size: cover;
background-position: center center;
}
